config/real_bus_stops.cfg
htmlfiles/css/font-awesome.css
htmlfiles/css/fonts.css
htmlfiles/impressum.html
htmlfiles/stop_areas.html
htmlfiles/stop_platform.html
htmlfiles/takst_sjaelland.html
infos/
README
ablage/
alternativedownload.sh
exclude.lst
zipall.sh
tools/scripte/
