config/*.cfg
config/ptarea1/invalidroutes.cfg
config/ptarea1/real_bus_stops.cfg
htmlfiles/*.html
htmlfiles/osm/*.html
htmlfiles/gtfs/*.html
htmlfiles/gtfs/maps/*.html
htmlfiles/gtfs/maps/*.gpx
htmlfiles/gtfs/maps/*.js
htmlfiles/gtfs/maps/LICENSE.md
infos/
README
ablage/
rcompare/
alternativedownload.sh
exclude.lst
zipall.sh
tools/scripte/
tools/codebausteine/
ptasync

