# config-file
# ------------------------------ for start.sh ------------------------------------------------
# Public transport area (short name). Only alphanumeric characters
ptareashort=""

# Public transport area (long name).
ptarealong=""
# Public transport area (description).
ptareadescription=""

# Geographic coordinates of public transport area
# Bounding Box
ptareabbox=""
# Polygon
ptareapoly=""

# Special parent Relations - part 1
# See: https://www.openstreetmap.org/relation/[RelationID]
ptareastoprelid=""
ptareastopreldesc=""
ptareabusrelid=""
ptareabusreldesc=""

# Special optional IDs. Syntax:
# RelationID:Description
optrelid=(
)

# Number of maximum download attempts
maxattempt="" 

# Minimum size of downloaded .osm-files (for example: 0 or 200k or 20M)
minsizebusraw=""
minsizetrainraw=""
minsizelightrail=""
minsizesubway=""
minsizemonorail=""
minsizetram=""
minsizetrolleybus=""
minsizeferry=""
minsizestopareabbox=""
minsizestopareagroups=""
minsizestoprelation=""
minsizebusrelation=""
minsizeroutemasterbus=""

# Minimum size of .osm-files after processing (with osmconvert, etc.)
# for example: 0 or 200k or 20M
minsizebus=""
minsizetrain=""
minsizestoparea=""

# Important files to create HTML-pages for OSM analysis
stopareascript=""
ptroutescript=""
osmanalysisfile=""

# Name of Polyfile (without path, with Suffix)
areapolyfile=""

# ------------------------ for pt_analysis2html.sh ---------------------------------------

# Second headline in osmroutes.html
secondheadline=""

# Parent Relations - part 2
ptareafirstlevelrelid=""
ptareafirstleveldesc=""
ptareasecondlevelrelid=""
ptareasecondleveldesc=""

# Name of Transport agency
ptagencyname=""

# Name of the transport agency that does not belong to the transport association. 
extagencies=()

# * Routecolor check *
# Values: 'left' or 'right'
# Example of routes: M1, M2, M3, M4 (defrefpos is left)
defrefpos=""

# Keywords (Name of Transport association, transport agency etc.)
ckeyword1=""
ckeyword2=""

# Define route color
# Line Syntax: "route description:color name:color hex-value"
# Example:
# "M:red:#ff0000"
rcolor=(
)
